::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover
{
	background-color: #b3b2b2;
}

*{
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-ms-user-select:none;
}